VITE_BUS_API_URL=https://example.com/ApiSAE/Api
VITE_BUS_API_USER=replace-me
VITE_BUS_API_PASSWORD=replace-me
VITE_BUS_AES_KEY=replace-me-16chars
VITE_BUS_AES_IV=replace-me-16chars
VITE_BUS_GROUP_ID=13
VITE_BUS_LANG=ES
